# Exclude version control files
.git
.gitignore

# Exclude Docker files
Dockerfile
docker-compose.yml
.dockerignore

# Exclude compressed files
*.zip
*.rar

# Exclude documentation files
README.md
modification site amd.pdf